@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a) de volta!</h1>
    <p>Digite seu CPF e Placa para acesso.</p>
    @if(TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Unauthorized"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Unauthorized"]
        </div>
    }
    @Html.Partial("_LoginPartial")
    <p>Ou clique <a asp-action="Register">aqui</a> para se registrar!</p>
</div>