@{
    ViewData["Title"] = "Cadastro";
    ViewData["BodyClass"] = "pagina-cadastro";
}

<div class="text-center">
    <h1 class="display-4">Agradecemos seu interesse em se tornar um de nossos associados</h1>
    <p>Preencha o formulário a seguir:</p>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true" />
}