@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Agradecemos seu interesse em se tornar um de nossos associados</h1>
    <p>Preencha o formulário a seguir:</p>
</div>

@Html.Partial("_Register")